@import "../../styles/styles.scss";

.product {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8vh 6vw;
    z-index: 1;

    .articleBorder {
        height: 100%;
        width: 100%;
        padding: 4px;
        border-radius: 8px;
        background-image: linear-gradient(to right, #FFDD02, #ff9a02, #ff5405);
        box-shadow: 0 0 6px $secondary-colour;

        article {
            height: 100%;
            width: 100%;
            background-color: $background-colour;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4%;
            border-radius: 4px;
            position: relative;
    
            h2 {
                width: 100%;
                font-size: $page-font-size;
                margin: 1vh 0;
                text-decoration: underline;
                color: $secondary-colour;
            }
    
            img {
                border: 2px solid $accent-colour;
                max-height: 28%;
                box-shadow: 0 0 10px #000000;
                margin-bottom: auto;
            }

            .icon {
                position: absolute;
                top: 0;
                right: 0;
                margin: 4% 4% 0 0;
            }
    
            .ticketCount {
                width: 85%;
                display: flex;
                justify-content: center;
                border: 1px solid $secondary-colour;
        
                p {
                    font-size: $content-font-size;
                }
            }
        
            .button {
                background-image: linear-gradient(to right, #FF00FF, $accent-colour, #B10FFF);
                box-shadow: 0 0 6px #D900FFD3;
                width: 70%;
            }
    
            .specList {
                color: $secondary-colour;
                list-style-type: none;
                margin-left: auto;
                margin-right: auto;
            }
    
            .ticketStatement {
                font-size: $content-font-size;
                margin-bottom: auto;
                text-align: center;
            }

            .productText, .specList {
                font-size: $content-font-size;
            }

            .divider {
                margin: auto 0;
            }
        }
    }
}
