.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 80vh;
    height: auto;
    width: 90vw;
    background-color: #070c10;
    border-radius: 12px;
    padding: 6px;
}