@import "../../styles/styles.scss";

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 45vw;
    min-height: 50vh;
    height: auto;
    width: 92vw;
    padding: 0 2%;
}