@import "../../styles/styles.scss";

.cardContainer { 
    margin: 1vh 2vw;
    position: relative;

    .card, .itemInfo {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .card {
        flex-direction: column;
        height: 100%;
        padding: 5px;
        background-image: linear-gradient(to bottom, #002a4b63, #002a4b00);
        border-top: 2px solid $secondary-colour;
        border-radius: 0 0 8px 8px;

        img {
            margin-bottom: auto;
        }

        h3 {
            font-size: $content-font-size;
            font-weight: normal;
            width: 95%;
            color: $secondary-colour;
            text-decoration: overline;
        }

        .oddsContainer {
            background-color: $accent-colour;
            padding: 0 3px 0 1px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 7px;
            margin-right: 5px;
            border-radius: 0 6px 0 0;
            border-left: 1px solid $main-colour;
            border-bottom: 1px solid $main-colour;

            p {
                font-size: $content-font-size;
                color: black;
            }
        }
        
        .button {
            background-image: linear-gradient(to right, #FFDD02, #ff9a02, #ff5405);
            box-shadow: 0 0 4px #FFDD02d3;
            width: 90%;

            p {
                color: black;
            }

            p:nth-child(2) {
                border-radius: 0 15px 15px 0;
                border-left: 1px solid #000000d3;
                width: 30%;
            }
        }
    }
}