.cardContainer { 
    padding: 6px;
    position: relative;

    .card, .enterDraw, .itemInfo {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .card {
        background-color: #002a4b;
        flex-direction: column;
        height: 100%;
        padding: 5px;
        border-radius: 10px;
        text-decoration: none;
        color: inherit;

        img {
            max-height: 50%;
            height: auto;
            width: 99%;
            margin-bottom: auto;
            border-radius: 6px 0 0 0;
        }

        h3 {
            font-size: 10px;
            font-weight: normal;
            width: 95%;
            color: aliceblue;
            

            span {
                background-color: #002a4b;
                text-decoration: overline;
            }
        }

        .oddsContainer {
            background-color: aliceblue;
            border: 1px solid #070c10;
            padding: 0 2px;
            font-weight: bold;
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 5px;
            margin-right: 5px;
            border-radius: 0 6px 0 0;

            p {
                font-size: 10px;
            }
        }
        
        .enterDraw {
            justify-content: center;
            align-content: center;
            margin: 2% 0;
            border-radius: 15px;
            background-image: linear-gradient(to right, #FFDD02, #ff9a02, #ff5405);
            box-shadow: 0 0 4px #f0f8ffd3;
            padding: 0 2px;

            p {
                font-size: 11px;
                cursor: pointer;
                font-weight: bold;
                text-align: center;
                padding-bottom: 1px;
            }

            p:nth-child(1) {
                border-radius: 15px 0 0 15px;
                width: 75%;
            }

            p:nth-child(2) {
                border-radius: 0 15px 15px 0;
                border-left: 1px solid #f0f8ffd3;
                width: 30%;
            }

            &:hover {
                box-shadow: 0 0 8px #000000d3;

                p:nth-child(2) {
                    border-left: 1px solid #000000d3;
                }
            }
        }
    }
}