@import "./variables";

.button {
    justify-content: center;
    align-content: center;
    margin: 2% 0 1%;
    border-radius: 15px;
    padding: 0 2px;
    display: flex;
    width: 70%;
    align-items: center;
    cursor: pointer;
    font-weight: bold;

    p {
        font-size: $content-font-size;
        text-align: center;
        padding: 0 0 1px 0;
    }

    p:nth-child(1) {
        border-radius: 15px 0 0 15px;
        width: 75%;
    }
}

.formButton {
    @extend .button;
    background-image: linear-gradient(to right, $secondary-colour, #66aee6, $main-colour);
    box-shadow: 0 0 6px #66aee6;
    border: none;
    padding: 2px 0;
    width: 70%;
}

.googleButton {
    @extend .button;
    background-color: white;
    border-radius: 3px;
    height: 36px;
    width: 65%;
    border: black solid 2px;
    box-shadow: 0 0 4px black;

    img {
        height: auto;
        width: auto;
        margin-right: 10px;
    }

    p {
        color: black;
    }
}
