@import "./variables";

.button {
    justify-content: center;
    align-content: center;
    margin: 2% 0 1%;
    border-radius: 15px;
    padding: 0 2px;
    display: flex;
    width: 70%;
    align-items: center;
    cursor: pointer;
    font-weight: bold;

    p {
        font-size: $content-font-size;
        text-align: center;
        padding: 0 0 1px 0;
    }

    p:nth-child(1) {
        border-radius: 15px 0 0 15px;
        width: 75%;
    }
}
