@import "./variables";

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    background-color: $background-colour;
    min-height: 78vh;

    header {
        h1 {
            margin: 1vh 0;
            font-size: $header-font-size;
            color: $secondary-colour;
            padding: 0 5%;
        }
    }
    
    section {
        margin: 2vh 0;

        p {
            font-size: $page-font-size;
            color: $secondary-colour;
            padding: 0 5%;
        }
    }

    img {
        max-height: 50%;
        height: auto;
        width: 100%;
        border-radius: 0 8px 0 8px;
    }

    header, section {
        width: 100%;
    }   
}

.header, .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 11vh;
    background-color: $main-colour;
    color: $secondary-colour;
    
    a {
        color: inherit;
    }
}

.divider {
    background-color: $secondary-colour;
    height: 2px;
    width: 100%;
}