//-- COLOUR --//
$main-colour: #002A4B;
$secondary-colour: #F0F8FF;
$background-colour: #070C10;
$accent-colour: #D900FF;

//-- FONT SIZE --//
$page-font-size: 15px;
$content-font-size: 10px;
$header-font-size: 20px;