@import "../../styles/styles.scss";

.checkout {
    section {
        width: 70%; 
    }   

    .formButton {
        width: 40%;
    }

    .emptyCart {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            width: 90%;
            text-align: center;
            margin: 2vh 0;
        }

        .icon {
            font-size: 60px;
            margin: 2vh 0;
        }
    }
}

