.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 11vh;
    padding: 0 5vw;
    background-color: #002a4b;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;

    h1 {
        width: 90%;

    }
}