@import "../../styles/styles.scss";

.footer {
    justify-content: space-evenly;
    bottom: 0;
    border-top: 2px solid $secondary-colour;

    p, a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $content-font-size;
    }

    a {
        color: inherit;
    }
}