.footer {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: grey;
    height: 4vh;

    p, a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: inherit;
    }
}